
.icon-book-open:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-trash-empty:before { content: '\e803'; } /* '' */
.icon-laptop:before { content: '\e804'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
