{% load static %}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <img src="{% static 'favicon.ico' %}" width="30" height="30" alt="">
        <a href="{% url 'main' %}" class="navbar-brand ms-2">EVA2</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto me-2">
                <li class="nav-item">
                    <a href="" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">My courses</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Blog</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <form action="" class="d-flex">
                <input type="search" placeholder="Search" class="form-control me-2">
                <button class="btn btn-outline-success">Search</button>
            </form>
            {% else %}
            <div class="d-flex">
                <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</button>
                <button class="btn btn-outline-success ms-2">Sign Up</button>
            </div>
            {% endif %}

        </div>
    </div>
</nav>

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
<!--            {% include 'registration/login.html' %}-->
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">EVA</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row mb-3">
                        <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputLogin">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>