{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

<div class="login">
    <div class="form">
        <h1>EVA</h1>
        <form class="login-form" method="post">
            {% csrf_token %}
            <input type="text" placeholder="username" name="username">
            {{ form.username.error_messages.password_mismatch }}
            <input type="password" placeholder="password" name="password1" >
            <input type="password" placeholder="repeat password" name="password2">
            <button type="submit">Create user</button>
        </form>
    </div>
</div>