{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login_register.css' %}">
{% endblock %}

{% block title %} Reset password{% endblock %}

{% block content %}
<div class="register">
    <div class="form">
        <h1>EVA</h1>
        <form method="post">
            {% csrf_token %}
            Password reset
            {{form.email}}

            <button type="submit">Change password</button>
        </form>
    </div>
</div>
{% endblock %}