{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user_actions.css' %}">
{% endblock %}

{% block title %} EVA Registration Success {% endblock %}

{% block content %}
<div class="general">
    <div class="form">
        <h5>Done!</h5>
        <h5>You have logged in as {{ username }}</h5>
        <a href="{% url 'main' %}">
            <button type="button" id="ok_btn">Ok</button>
        </a>
    </div>
</div>
{% endblock %}