{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<link href="{% static 'css/education_base.css'%}" rel="stylesheet">
<link href="{% static 'fontello/css/fontello.css'%}" rel="stylesheet">
{% endblock %}


{% block content %}
<section class="p-4">
<div class="container">
    <div class="col-8">
        shit
    </div>
</div>


</section>


{{ course.title }}
<br>
<br>
{{ course.description }}
<br>
<br>
FILES:
<br>
{% for file in content %}
<a href="/media/{{ file.file }}">{{ file.title }}</a>
<br>
{% endfor %}

TESTS:
<br>
{% for item in course.tests.all %}
{{ item }}
<br>
{% endfor %}


{% endblock %}