{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<link href="{% static 'css/education_base.css'%}" rel="stylesheet">
<link href="{% static 'fontello/css/fontello.css'%}" rel="stylesheet">
{% endblock %}


{% block content %}
<section class="p-4">
    <div class="container">
        <div class="pb-3">
            <h1 class="m-2">My courses:</h1>
        </div>

        <div class="row gy-4">
            {% for mycourse in my_coursesubs %}
            <div class="col-12">
                <div class="p-3 border border-dark rounded" id="algri-container">
                    <div class="row">
                        <div class="col-2">
                            <a href="{% url 'my_course' pk=mycourse.id %}"><img class="bg-white border border-dark rounded" id="course-icon"
                                    src="/media/{{ mycourse.course.icon }}"></a>
                        </div>
                        <div class="col-10">
                            <a href="{% url 'my_course' pk=mycourse.id %}"><h4 class="p3">{{ mycourse.course.title }}</h4></a>
                            {{ mycourse.course.description }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}