{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<link href="{% static 'css/education_base.css'%}" rel="stylesheet">
<link href="{% static 'fontello/css/fontello.css'%}" rel="stylesheet">
{% endblock %}


{% block content %}
    {% for question in tests.questions.all %}
    <form>
        Question: {{question.question_text}} <br> <br>
        Answer 1: {{question.correct_answer}} <br> <br>
        Answer 2: {{question.incorrect_answer1}} <br> <br>
        Answer 3: {{question.incorrect_answer2}} <br>
    </form>
    {% endfor %}
{% endblock %}