{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<link href="{% static 'css/education_base.css'%}" rel="stylesheet">
<link href="{% static 'fontello/css/fontello.css'%}" rel="stylesheet">
{% endblock %}



{% block content %}
<section class="p-4">
    <div class="container">
        <form method="post">
        {% csrf_token %}
            <div class="row">
                {% for question in form %}
                <div class="p-3 mt-3 border border-dark rounded" id="algri-container">
                    {{ question.label }}
                    {{ question }}
                </div>
                    {% endfor %}
            </div>


        <button type="submit">End test</button>
    </form>
    </div>

</section>
{% endblock %}